body {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto", "Arial", "sans-serif";
}
h1 {
  font-size: 35px;
  line-height: 41px;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.display-none,
.button.display-none {
  display: none;
}
.page-wrapper {
  min-width: 900px;
  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: center 84px, center;
}
.page-wrapper::before,
.page-wrapper::after {
  content: "";
  visibility: hidden;
}
.page-wrapper::before {
  background: url(../img/slide2.png) no-repeat center 84px,
      -webkit-radial-gradient(circle closest-corner at center 350px, #cce0f1, #a9baca, #a3b3c3, #8996a6);
  background: url(../img/slide2.png) no-repeat center 84px,
      radial-gradient(circle closest-corner at center 350px, #cce0f1, #a9baca, #a3b3c3, #8996a6);
}
.page-wrapper::after {
  background: url(../img/slide3.png) no-repeat center 84px,
    -webkit-radial-gradient(circle closest-corner at center 350px, #efd9d0, #c6b2aa, #beaba3, #9d8b84);
  background: url(../img/slide3.png) no-repeat center 84px,
    radial-gradient(circle closest-corner at center 350px, #efd9d0, #c6b2aa, #beaba3, #9d8b84);
}
.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.container {
  padding: 0 2.2%;
}

/*************** Общие стили ссылок ***************/
.link-white {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.link-white:hover {
  border-color: rgba(249, 172, 159, 0.3);
  color: rgb(255, 188, 158);
}
.link_black {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: #323232;
  text-decoration: none;
}
.link_black:hover {
  border-color: rgba(236, 89, 60, 0.3);
  color: rgb(232, 77, 55);
}
a:focus {
  outline: 0;
}

/*************** Общие стили кнопок ***************/
.button {
  display: inline-block;
  border: 0;
  border-radius: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
}
.button:focus {
  outline: 0;
}
.button-orange {
  background: -webkit-linear-gradient(top, #f26843, #e74a35);
  background: linear-gradient(to bottom, #f26843, #e74a35);
  box-shadow: 0 1px 2px 0 #ac1000;
}
.button-orange:hover {
  background: -webkit-linear-gradient(top, #f58669, #ec6f5e);
  background: linear-gradient(to bottom, #f58669, #ec6f5e);
  cursor: pointer;
}
.button-orange:active {
  background: -webkit-linear-gradient(top, #e74a35, #f26843);
  background: linear-gradient(to bottom, #e74a35, #f26843);
  box-shadow: inset 0 1px 2px 0 #942718;
}
.button-white {
  border: 2px solid #fbfcfb;
  border-radius: 25px;
  color: #fcfcfc;
  background-color: rgba(251, 252, 251, 0.2);
}
.button-white:hover {
  color: #353535;
  background-color: rgba(251, 252, 251, 1);
  cursor: pointer;
}
.button-white:active {
  border: 0;
  color: #353535;
  background-color: #eaeaea;
  box-shadow: inset 0 2px 1px #696969;
}

/************ Общие стили для полей форм ************/
input[type="text"],
input[type="search"],
input[type="email"],
input[type="password"],
textarea {
  margin-bottom: 20px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 13px;
  padding-right: 5px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #323232;
  font-family: "Roboto", "Arial", "sans-serif";
  box-sizing: border-box;
}
textarea {
  resize: none;
}
input[type="text"]:hover,
input[type="search"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
textarea:hover {
  margin-bottom: 19px;
  padding-top: 7px;
  padding-left: 12px;
  border: 2px solid #c7c6c5;
  border-radius: 5px;
}
input[type="text"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  margin-bottom: 19px;
  padding-top: 7px;
  padding-left: 12px;
  border: 2px solid #8fbdec;
  border-radius: 5px;
  outline: 0;
}
input[type="text"]:not(:focus):valid:hover,
input[type="search"]:not(:focus):valid:hover,
input[type="email"]:not(:focus):valid:hover,
input[type="password"]:not(:focus):valid:hover,
textarea:not(:focus):valid:hover {
  margin-bottom: 19px;
}
input[type="text"]:required,
input[type="search"]:required,
input[type="email"]:required,
input[type="password"]:required,
textarea:required {
  outline: 0;
  box-shadow: none;
}
select {
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
select::-ms-expand {
  display: none;
}
select option {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  background-color: #ffffff;
}

/******* Общие стили для подписей к полям форм *******/
.label-box {
  position: relative;
}
.label-box label {
  position: absolute;
  top: -55px;
  left: 14px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  pointer-events: none;
}
input:focus + .label-box label,
textarea:focus + .label-box label {
  font-size: 11px;
  line-height: 13px;
  color: #5b9ddf;
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
  pointer-events: auto;
}
input:not(:focus):valid + .label-box label,
textarea:not(:focus):valid + .label-box label {
  font-size: 11px;
  line-height: 13px;
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
  pointer-events: auto;
}
input:not(:focus):valid:hover + .label-box label,
textarea:not(:focus):valid:hover + .label-box label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}

/********** Общие стили для радиобаттонов **********/
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  position: relative;
  margin-right: 18px;
  padding-left: 31px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
}
input[type="radio"] + label:last-of-type {
  margin-right: 0;
}
input[type="radio"] + label::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
  border: 1px solid #f8f7f4;
  border-radius: 50%;
}
input[type="radio"]:checked + label::after {
  position: absolute;
  content: "";
  display: block;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f8f7f4;
}
input[type="radio"]:not([disabled]) + label:hover::before {
  width: 17px;
  height: 17px;
  border: 2px solid #f8f7f4;
}
input[type="radio"]:disabled + label::before,
input[type="radio"]:disabled + label::after {
  opacity: 0.4;
  cursor: default;
}
input[type="radio"]:disabled + label {
  cursor: default;
}

/************ Общие стили для чекбоксов ************/
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + label {
  position: relative;
  margin-right: 21px;
  padding-left: 32px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
}
input[type="checkbox"] + label:last-of-type {
  margin-right: 0;
}
input[type="checkbox"] + label::before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ffffff;
  border-radius: 3px;
}
input[type="checkbox"]:checked + label::after {
  position: absolute;
  content: "";
  display: block;
  top: 5px;
  left: 3px;
  width: 14px;
  height: 10px;
  background: url(../img/sprite.png) -142px -20px;
}
input[type="checkbox"]:not([disabled]) + label:hover::before {
  width: 16px;
  height: 16px;
  border: 2px solid #ffffff;
}
input[type="checkbox"]:disabled + label::before,
input[type="checkbox"]:disabled + label::after {
  opacity: 0.4;
  cursor: default;
}
input[type="checkbox"]:disabled + label {
  cursor: default;
}

/********** Общие стили для модальных окон **********/
.modal-content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
  padding: 0 24px;
  padding-top: 15px;
  padding-bottom: 27px;
  color: #323232;
  background-color: #f8f7f4;
}
.modal-content .button-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  padding: 0;
  font-size: 0;
  border: 0;
  background: none;
  cursor: pointer;
}
.modal-content .button-close:focus {
  outline: 0;
}
.modal-content .button-close::before,
.modal-content .button-close::after {
  position: absolute;
  content: "";
  display: table;
  width: 22px;
  height: 2px;
  background-color: #000000;
}
.modal-content .button-close::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal-content .button-close::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-content.show {
  display: block;
}
.modal-overlay.show {
  display: block;
}

/********** Модальное окно "Обратная связь" **********/
.modal-feedback {
  width: 429px;
  min-height: 398px;
  border-radius: 10px;
}
.modal-feedback-title {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}
.modal-feedback input {
  width: 62%;
}
.feedback-field {
  width: 100%;
  min-height: 155px;
  margin-bottom: 20px;
}
.feedback-field:hover,
.feedback-field:focus,
.feedback-field:not(:focus):valid:hover {
  margin-bottom: 20px;
}
.modal-feedback label{
  top: -54px;
  font-size: 16px;
}
.modal-feedback label[for="user-feedback"] {
  top: -172px;
}
.modal-feedback .button {
  float: right;
  padding: 10px 21px;
  border-radius: 25px;
}
.modal-feedback.show{
  -webkit-animation: scale 0.5s;
          animation: scale 0.5s;
}
.modal-feedback::after {
  position: absolute;
  content: "Заполните все поля";
  display: none;
  bottom: 27px;
  left: 24px;
  color: #df1b1b;
}
.modal-feedback.modal-error::after {
  display: block;
}

/********** Анимация "Масштаб" **********/
@-webkit-keyframes scale{
  from{
    -webkit-transform: translate(-50%, -50%) scale(0.7);
            transform: translate(-50%, -50%) scale(0.7);
  }
  to{
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes scale{
  from{
    -webkit-transform: translate(-50%, -50%) scale(0.7);
            transform: translate(-50%, -50%) scale(0.7);
  }
  to{
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

/*************** Хедер ***************/
.main-header {
  padding-top: 9px;
}
.logo-link {
  float: left;
  width: 154px;
  margin-left: -6px;
  margin-right: 16px;
  line-height: 0;
}
.nav {
  float: left;
  width: calc(65% - 170px);
  margin-top: 14px;
}
.nav-list,
.user-block-list{
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}
.nav-item,
.user-block-item {
  padding-bottom: 5px;
}
.nav-item {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
}
.nav-link {
  position: relative;
  display: block;
  padding: 7px 14px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
.nav-link::after {
  position: absolute;
  content: "";
  display: table;
  bottom: 7px;
  width: calc(100% - 28px);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
.nav-item:hover .nav-link {
  border-radius: 16px;
  color: #333333;
  background-color: #f7f6f3;
}
.nav-item:active .nav-link {
  border-radius: 16px;
  color: #333333;
  background-color: #f7f6f3;
  box-shadow: inset 0 2px 1px 0 #696969;
}
.nav-item:hover .nav-link::after,
.nav-item:active .nav-link::after,
.nav-link_active::after {
  display: none;
}
.nav-link:focus {
  outline: 0;
}
.nav-link_active {
  border-radius: 16px;
  background-color: #d07058;
}
.nav-item:hover .subnav {
  display: block;
}
.subnav {
  position: absolute;
  left: -7px;
  z-index: 2;
  min-width: 143px;
  margin-top: 5px;
  padding: 0;
  border-radius: 5px;
  background-color: #f8f7f4;
  list-style: none;
  box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.35);
}
.subnav-item {
  position: relative;
}
.subnav-item:first-child::after {
  position: absolute;
  content: "";
  display: table;
  bottom: 0;
  left: 6px;
  width: calc(100% - 15px);
  height: 1px;
  background-color: rgba(53, 53, 53, 0.2);
}
.subnav-link {
  display: block;
  padding-top: 9px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 19px;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  text-decoration: none;
}
.subnav-item:first-child .subnav-link {
  padding-top: 11px;
  padding-bottom: 12px;
  font-weight: bold;
}
.subnav-item:last-child .subnav-link {
  padding-bottom: 15px;
}
.subnav-link:hover {
  background-color: #fbded7;
}
.subnav-link:active {
  background-color: #f6b5a5;
}
.subnav-item:first-child .subnav-link:hover,
.subnav-item:first-child .subnav-link:active {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.subnav-item:last-child .subnav-link:hover,
.subnav-item:last-child .subnav-link:active {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.subnav-link:not([href]) {
  background-color: #d07058;
}
.user-block {
  float: right;
  width: 262px;
  margin-top: 14px;
}
.user-block-item {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
}
.user-block-item:last-child {
  margin-right: 0;
}
.user-block-item a {
  display: block;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
}
.user-search {
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  font-size: 0;
  background: url(../img/sprite.png) -329px -187px;
}
.user-block-item:hover .user-search {
  background: rgba(255, 255, 255, 1) url(../img/sprite.png) -329px -130px;
}
.user-block-item:hover .search-pop-up {
  display: block;
}
.user-search + .search-pop-up {
  position: absolute;
  top: 36px;
  left: -308px;
  z-index: 2;
  width: 312px;
  height: 64px;
  padding: 0 15px;
  padding-top: 20px;
  border-radius: 6px;
  background-color: #f8f7f4;
  box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.35);
}
.search-pop-up .search-field {
  width: 100%;
}
.user-login,
.user-cart {
  padding-top: 7px;
  padding-bottom: 9px;
  padding-left: 44px;
  border-radius: 15px;
}
.user-login {
  position: relative;
  width: 48px;
}
.user-login::before {
  position: absolute;
  content: "";
  display: table;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 19px;
  background: url(../img/sprite.png) -337px -79px;
}
.user-block-item:hover .user-login {
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}
.user-block-item:hover .user-login::before {
  background: url(../img/sprite.png) -284px -20px;
}
.user-block-item:hover .authorized-pop-up {
  display: block;
}
.user-login + .authorized-pop-up {
  position: absolute;
  top: 36px;
  right: -2px;
  z-index: 2;
  width: 241px;
  height: 194px;
  padding-top: 20px;
  padding-left: 19px;
  padding-right: 17px;
  border-radius: 6px;
  font-size: 0;
  color: #323232;
  background-color: #f8f7f4;
  box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.35);
}
.authorized-pop-up .authorized-field {
  width: 100%;
}
.authorized-pop-up .button {
  margin-right: 20px;
  padding: 0 22px;
  padding-top: 11px;
  padding-bottom: 9px;
}
.authorized-pop-up .restore-and-sign-up {
  display: inline-block;
  vertical-align: top;
}
.authorized-pop-up .restore-link,
.authorized-pop-up .sign-up-link {
  position: relative;
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  background-color: transparent;
  vertical-align: top;
}
.authorized-pop-up .restore-link {
  margin-top: 2px;
  margin-bottom: 4px;
}
.user-cart {
  position: relative;
  width: 73px;
}
.user-cart::before {
  position: absolute;
  content: "";
  display: table;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background: url(../img/sprite.png) -20px -20px;
}
.user-block-item .user-cart_full {
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}
.user-cart_full::before {
  background: url(../img/sprite.png) -81px -20px;
}
.user-block-item:hover .added-items-pop-up {
  display: block;
}
.user-cart + .added-items-pop-up {
  position: absolute;
  top: 36px;
  right: 1px;
  z-index: 2;
  width: 509px;
  padding-top: 20px;
  padding-left: 17px;
  padding-right: 14px;
  border-radius: 6px;
  color: #323232;
  background-color: #f8f7f4;
  box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.35);
}
.added-item {
  margin-bottom: 20px;
  font-size: 0;
}
.added-item:last-of-type {
  position: relative;
  margin-bottom: 9px;
}
.added-item:last-of-type::after {
  position: absolute;
  content: "";
  display: table;
  bottom: -18px;
  width: 100%;
  height: 1px;
  background-color: #cacac7;
}
.added-item > * {
  display: inline-block;
  vertical-align: top;
}
.added-item .delete {
  position: relative;
  width: 11px;
  height: 11px;
  margin-right: 14px;
  padding: 0;
  margin-top: 10px;
  border: 0;
  font-size: 0;
  background-color: transparent;
  cursor: pointer;
}
.added-item .delete::before {
  position: absolute;
  content: "";
  display: table;
  top: -2px;
  left: 4px;
  width: 1px;
  height: 13px;
  background-color: #3e3e3e;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.added-item .delete::after {
  position: absolute;
  content: "";
  display: table;
  top: 4px;
  left: -2px;
  width: 13px;
  height: 1px;
  background-color: #3e3e3e;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.added-item img {
  margin-right: 12px;
}
.added-item .added-item-title {
  width: 218px;
  margin-right: 29px;
  padding-top: 8px;
  font-size: 13px;
  line-height: 16px;
}
.added-item .amount-and-cost {
  margin-right: 27px;
  padding-top: 8px;
  font-size: 13px;
  line-height: 16px;
}
.added-item .item-total-cost {
  padding-top: 8px;
  font-size: 13px;
  line-height: 16px;
}
.added-items-pop-up .total-cost {
  float: right;
  margin-top: 23px;
  margin-bottom: 14px;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}
.added-items-pop-up .button {
  float: right;
  clear: both;
  width: 172px;
  margin-bottom: 21px;
  padding-top: 9px;
  padding-bottom: 11px;
  font-weight: bold;
}
.telephone-order {
  text-align: right;
}
.telephone-and-breadcrumbs-container .telephone-order {
  float: right;
  width: 250px;
}
.telephone-order .call-time {
  display: block;
  margin-bottom: 3px;
  text-align: right;
  font-size: 14px;
  line-height: 16px;
}
.telephone-order .telephone {
  display: block;
  text-align: right;
  font-size: 22px;
  line-height: 24px;
}

/*************** Слайдер ***************/
.promo-slider {
  position: relative;
  margin-bottom: 42px;
  padding-top: 274px;
  text-align: center;
}
.promo-slide-title {
  width: 670px;
  margin: 0 auto;
  margin-bottom: 32px;
  font-size: 60px;
  line-height: 60px;
}
.promo-slide .button {
  padding: 0 40px;
  padding-top: 9px;
  padding-bottom: 10px;
  border-radius: 30px;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}
.promo-slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  font-size: 0;
}
.promo-slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  vertical-align: top;
  cursor: pointer;
}
.promo-slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.promo-slide {
  display: none;
}
body > input[type="radio"] {
  display: none;
}
#promo-slide-1:checked ~ .page-wrapper .promo-slide:nth-child(1),
#promo-slide-2:checked ~ .page-wrapper .promo-slide:nth-child(2),
#promo-slide-3:checked ~ .page-wrapper .promo-slide:nth-child(3) {
  display: block;
}
#promo-slide-1:checked ~ .page-wrapper {
  background-color: #849d8f;
  background-image: url(../img/slide1.png),
    -webkit-radial-gradient(circle closest-corner at center 350px, #cdf4df, #adcebc, #9bb8a8, #849d8f);
  background-image: url(../img/slide1.png),
    radial-gradient(circle closest-corner at center 350px, #cdf4df, #adcebc, #9bb8a8, #849d8f);
}
#promo-slide-2:checked ~ .page-wrapper {
  background-color: #8996a6;
  background-image: url(../img/slide2.png),
      -webkit-radial-gradient(circle closest-corner at center 350px, #cce0f1, #a9baca, #a3b3c3, #8996a6);
  background-image: url(../img/slide2.png),
      radial-gradient(circle closest-corner at center 350px, #cce0f1, #a9baca, #a3b3c3, #8996a6);
}
#promo-slide-3:checked ~ .page-wrapper {
  background-color: #9d8b84;
  background-image: url(../img/slide3.png),
    -webkit-radial-gradient(circle closest-corner at center 350px, #efd9d0, #c6b2aa, #beaba3, #9d8b84);
  background-image: url(../img/slide3.png),
    radial-gradient(circle closest-corner at center 350px, #efd9d0, #c6b2aa, #beaba3, #9d8b84);
}
#promo-slide-1:checked ~ .page-wrapper label[for="promo-slide-1"],
#promo-slide-2:checked ~ .page-wrapper label[for="promo-slide-2"],
#promo-slide-3:checked ~ .page-wrapper label[for="promo-slide-3"] {
  background-color: #ffffff;
}

/*************** Баннеры ***************/
.banner-container {
  min-height: 229px;
  margin-bottom: 40px;
}
.banner {
  position: relative;
  width: calc(48.9% - 40px);
  min-height: 190px;
  padding-top: 16px;
  padding-bottom: 23px;
  padding-left: 19px;
  padding-right: 21px;
  border-radius: 12px;
}
.banner:first-child {
  float: left;
  background: #741e31 url(../img/raspberry_bg.png) no-repeat;
}
.banner:last-child {
  float: right;
  background: #40271b url(../img/chocolate_bg.png) no-repeat;
}
.banner-title {
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}
.banner-text {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 50px;
}
.banner .button {
  position: absolute;
  bottom: 23px;
  right: 21px;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 22px;
  padding-right: 23px;
  border-radius: 25px;
}

/********** Каталог товаров **********/
.catalog {
  font-size: 0;
}
.catalog_margin-bottom {
  margin-bottom: 41px;
}
.catalog-item {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 23.35%;
  margin-bottom: 39px;
  margin-right: 2.2%;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  vertical-align: top;
}
.catalog-item:nth-child(4n) {
  margin-right: 0;
}
.catalog-item:hover {
  z-index: 2;
}
.catalog-item:hover::after {
  position: absolute;
  content: "";
  display: block;
  top: -7px;
  bottom: -76px;
  left: -11px;
  right: -12px;
  z-index: -1;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
}
.catalog-item:hover .button {
  position: absolute;
  left: calc(47.76% - 92.52px);
  right: calc(47.76% - 92.52px);
  bottom: -57px;
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 11px;
  border-radius: 20px;
  vertical-align: top;
}
.catalog-item:hover .link-white {
  border: 0;
}
.hit-mark::before {
  position: absolute;
  content: "";
  display: table;
  z-index: 1;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background: url(../img/sprite.png) -147px -109px;
}
.catalog-item-img-container {
  position: relative;
  margin-bottom: 6px;
}
.catalog-item img {
  width: 100%;
  height: auto;
  font-size: 0;
}
.catalog-item .cost {
  position: absolute;
  bottom: 16px;
  left: 1px;
  display: inline;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}
.catalog-item .measure {
  font-size: 30px;
}
.catalog-item-title-container {
  padding: 0 8px;
}
.catalog-item-title {
  font-weight: 500;
}

/********** Особенности магазина **********/
.shop-features {
  margin-bottom: 40px;
  padding: 0 20px;
  padding-top: 23px;
  padding-bottom: 1px;
  background: #ede1c7 url(../img/waffle_bg.jpg);
  border-radius: 16px;
  font-size: 0;
  color: #323232;
}
.shop-features-title {
  margin: 0;
  margin-bottom: 22px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}
.shop-features-item {
  position: relative;
  display: inline-block;
  width: calc(48.9% - 55px);
  margin: 0;
  margin-bottom: 23px;
  padding-left: 55px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  vertical-align: top;
}
.shop-features-item:first-child {
  margin-right: calc(2.2%);
}
.shop-features-item:last-child {
  width: calc(48.9% - 57px);
  padding-left: 57px;
}
.shop-features-item::before {
  position: absolute;
  content: "";
  display: table;
  top: -12px;
  left: 1px;
  width: 49px;
  height: 49px;
}
.shop-features_ice-cream::before {
  background: url(../img/sprite.png) -248px -109px;
}
.shop-features_farm::before {
  background: url(../img/sprite.png) -196px -20px;
}
.shop-features_eco::before {
  background: url(../img/sprite.png) -248px -198px;
}
.shop-features_delivery::before {
  background: url(../img/sprite.png) -168px -287px;
}

/********** Новости и подписка на них **********/
.last-news-subscription {
  min-height: 220px;
  margin-bottom: 40px;
}
.last-news {
  float: left;
  width: calc(48.9% - 20px);
  min-height: 198px;
  padding-top: 22px;
  padding-left: 20px;
  color: #323232;
  background: #ffffff url(../img/strawberry_bg.png) right 0px no-repeat;
  border-radius: 16px;
}
.last-news-note {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}
.last-news-title-container {
  width: 296px;
}
.last-news-title {
  border: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.7);
}
.subscription {
  position: relative;
  z-index: 1;
  float: right;
  width: calc(48.9% - 49px);
  min-height: 187px;
  padding-top: 33px;
  padding-left: 26px;
  padding-right: 23px;
  background-image: -webkit-repeating-linear-gradient(315deg, #f8f7f4 0px, #f8f7f4 7px, #92cdff 7px, #92cdff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  background-image: repeating-linear-gradient(135deg, #f8f7f4 0px, #f8f7f4 7px, #92cdff 7px, #92cdff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
  border-radius: 16px;
  color: #5a5a5a;
  background-color: #f8f7f4;
}
.subscription::before {
  position: absolute;
  content: "";
  display: table;
  top: 5px;
  left: 5px;
  z-index: -1;
  width: calc(100% - 10px);
  height: 210px;
  border-radius: 16px;
  background-color: #f8f7f4;
}
.subscription-text {
  margin: 0;
  margin-bottom: 90px;
}
.subscription label {
  font-size: 16px;
  line-height: 22px;
}
.subscription .column-container {
  position: absolute;
  bottom: 20px;
  left: 26px;
  width: calc(100% - 192px);
}
.subscription .email-field {
  width: 100%;
}
.subscription .button {
  position: absolute;
  bottom: 40px;
  right: 23px;
  margin-right: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 17px;
  padding-right: 14px;
  border-radius: 25px;
}

/*************** Карта ***************/
.map-container {
  height: 430px;
  color: #000000;
  background: url(../img/map.png) center center no-repeat;
}
.map{
  width: 100%;
  height: 430px;
}
.map-container .content-wrapper {
  position: relative;
}
.gllacy-data {
  position: absolute;
  top: 62px;
  right: 2.2%;
  z-index: 90;
  width: 252px;
  min-height: 277px;
  padding: 0 25px;
  padding-top: 28px;
  border-radius: 16px;
  background-color: #ffffff;
}
.gllacy-address-block {
  margin: 0;
  margin-bottom: 17px;
}
.gllacy-address-title {
  display: block;
  width: 160px;
  margin-bottom: 2px;
  font-size: 14px;
  line-height: 20px;
}
.gllacy-address {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}
.gllacy-telephone-block {
  margin: 0;
  margin-bottom: 23px;
}
.gllacy-telephone-title {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 20px;
}
.gllacy-telephone {
  display: block;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}
.gllacy-call-time {
  font-size: 14px;
  line-height: 22px;
}
.gllacy-data .button {
  display: block;
  padding-top: 9px;
  padding-bottom: 12px;
  padding-left: 3px;
  border-radius: 25px;
}

/********** Хлебные крошки **********/
.breadcrumbs {
  float: left;
  width: 500px;
  margin: 0;
  margin-top: 25px;
  padding: 0;
  font-size: 0;
  list-style: none;
}
.breadcrumbs-item {
  position: relative;
  display: inline-block;
  margin-right: 22px;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  vertical-align: top;
}
.breadcrumbs-link[href]::after {
  position: absolute;
  content: "»";
  display: table;
  top: 0;
  right: -14px;
}

/********** Фильтр каталога **********/
.catalog-title {
  line-height: 39px;
  margin: 0;
  margin-bottom: 26px;
}
.catalog-filter {
  margin-bottom: 24px;
  font-size: 0;
}
.filter-sorting,
.filter-price,
.filter-richness,
.filter-filling,
.catalog-filter .button-white {
  display: inline-block;
  margin-bottom: 15px;
  margin-right: 14px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: bottom;
}
.filter-title {
  display: inline-block;
  margin-bottom: 7px;
  margin-left: 16px;
  vertical-align: top;
}
.filter-controls {
  height: 36px;
  border-radius: 25px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
}
.filter-sorting {
  width: 194px;
}
.sorting-controls {
  width: 194px;
  padding-left: 15px;
  padding-right: 30px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2) url(../img/icon-select_white.png) no-repeat 170px 50%;
}
.sorting-controls:hover {
  color: #323232;
  background: #ffffff url(../img/icon-select_black.png) no-repeat 170px 50%;
  cursor: pointer;
}
.filter-price {
  width: 220px;
}
.price-controls{
  height: 20px;
  padding-top: 16px;
}
.price-controls .range-scale{
  position: relative;
  width: 188px;
  height: 4px;
  background-color: rgba(248, 247, 244, 0.5);
}
.price-controls .range-bar {
  width: 60%;
  height: 4px;
  margin-left: 19px;
  background-color: rgba(248, 247, 244, 1);
}
.price-controls .range-toggle {
  position: absolute;
  top: -8px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f8f7f4;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.price-controls .range-toggle-min {
  left: 19px;
}
.price-controls .range-toggle-max {
  left: 117px;
}
.price-controls .range-toggle:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.filter-richness {
  width: 415px;
  margin-right: 0;
}
.richness-controls,
.filling-controls {
  height: 28px;
  padding-top: 8px;
  font-size: 0;
}
.richness-controls label,
.filling-controls label {
  display: inline-block;
  vertical-align: top;
}
.filter-filling {
  width: 703px;
}
.catalog-filter .button{
  width: 140px;
  margin-right: 0;
  padding: 7px 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.catalog-filter .button:active {
  padding: 9px 0;
}

/*************** Пагинация ***************/
.catalog-pagination {
  position: relative;
  margin: 0;
  padding: 0;
  padding-bottom: calc(2% + 11px);
  font-size: 0;
  text-align: right;
  list-style: none;
}
.catalog-pagination::after {
  position: absolute;
  content: "";
  display: table;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}
.pagination-item {
  display: inline-block;
  margin-right: 3px;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
}
.pagination-item:last-child {
  margin-right: 0;
  margin-left: 2px;
}
a[class^="pagination-"] {
  display: block;
  min-width: 26px;
  height: 22px;
  padding-top: 4px;
  border-radius: 50%;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
}
.pagination-link:not([href]) {
  color: #323232;
  background-color: #ffffff;
}
.pagination-link[href]:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.pagination-link[href]:active {
  color: #323232;
  background-color: #ffffff;
}
.catalog-pagination .pagination-prev,
.catalog-pagination .pagination-next {
  position: relative;
  min-width: 20px;
  font-size: 0;
}
.pagination-prev::before,
.pagination-next::before,
.pagination-prev::after,
.pagination-next::after {
  position: absolute;
  content: "";
  display: table;
  width: 10px;
  height: 2px;
  background-color: #ffffff;
}
.pagination-link_disabled::before,
.pagination-link_disabled::before,
.pagination-link_disabled::after,
.pagination-link_disabled::after {
  opacity: 0.2;
}
.pagination-prev::before,
.pagination-next::before {
  top: 9px;
  right: 0;
}
.pagination-prev::after,
.pagination-next::after {
  bottom: 9px;
  right: 0;
}
.pagination-prev::before,
.pagination-prev::after {
  left: 0;
}
.pagination-prev::before,
.pagination-next::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.pagination-prev::after,
.pagination-next::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

/*************** Футер ***************/
.main-footer {
  padding-top: 36px;
  padding-bottom: 29px;
  font-size: 13px;
  line-height: 16px;
}
.social {
  float: left;
  width: 24.45%;
  margin-right: 2.2%;
  font-size: 0;
}
.social-button {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 11px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  font-size: 0;
  background-image: url(../img/sprite.png);
  vertical-align: top;
  opacity: 0.8;
}
.social-button:last-child {
  margin-right: 0;
}
.social-twitter {
  background-position: -256px -287px;
}
.social-instagram {
  background-position: -20px -198px;
}
.social-facebook {
  background-position: -20px -109px;
}
.social-vkontakte {
  background-position: -398px -20px;
}
.social-button:hover {
  border-color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}
.social-button:active {
  border-color: rgba(255, 255, 255, 0.7);
  opacity: 1;
  box-shadow: inset 0 2px 1px 0 #888888;
}
.footer-nav {
  float: left;
  width: 46.7%;
  margin: 0;
  margin-top: -4px;
  margin-right: 2.2%;
  padding: 0;
  padding-left: calc(24.62% - 164px);
  font-size: 0;
  box-sizing: border-box;
}
.footer-nav-item {
  position: relative;
  display: inline-block;
  margin-bottom: 6px;
  margin-right: 29px;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  vertical-align: top;
  list-style: none;
}
.footer-nav-item:nth-child(odd) {
  width: 113px;
}
.footer-nav-item:nth-child(even) {
  width: 52%;
  margin-right: 0;
}
.footer-nav-link_heart::before {
  position: absolute;
  content: "";
  display: table;
  top: 3px;
  left: -22px;
  width: 15px;
  height: 13px;
  background: url(../img/sprite.png) -92px -109px;
}
.copyright {
  position: relative;
  float: right;
  width: 191px;
  margin: 0;
  margin-top: 25px;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
}
.copyright::before {
  position: absolute;
  content: "";
  display: table;
  top: -43px;
  left: 2px;
  width: 108px;
  height: 38px;
  background: url(../img/sprite.png) -20px -287px;
}
