body {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  font-weight: normal;
  font-family: "Roboto", "Arial", "sans-serif";
}
h1 {
  font-size: 35px;
  line-height: 41px;
}
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}
.display-none {
  display: none;
}
.page-wrapper {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #849d8f;
  background: 
    url(../img/slide1.png) no-repeat center 84px,
    radial-gradient(circle closest-corner at center 350px, #cdf4df, #adcebc, #9bb8a8, #849d8f);
}
.content-wrapper {
  padding: 0 2.2%;
}

/********** Модальное окно "Обратная связь" **********/
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #323232;
  background-color: #f8f7f4;
}

/********** Хедер **********/
.main-header {
  padding-top: 9px;
}
.logo-link {
  position: relative;
  float: left;
  width: 154px;
  margin-left: -6px;
  margin-right: 30px;
  line-height: 0;
}
.nav {
  float: left;
  width: calc(65% - 170px);
  margin-top: 18px;
}
.nav-list,
.user-block-list{
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}
.nav-item {
  position: relative;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
}
.subnav {
  position: absolute;
  left: 0;
  width: 143px;
  padding: 0;
  background-color: #f8f7f4;
  list-style: none;
}
.subnav-link {
  color: #323232;
}
.user-block {
  float: right;
  width: 262px;
  margin-top: 18px;
}
.user-block-item {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
}
.user-search + .search-pop-up {
  position: absolute;
  left: -303px;
  width: 342px;
  color: #999999;
  background-color: #f8f7f4;
}
.user-login + .authorized-pop-up {
  position: absolute;
  right: 0;
  width: 278px;
  color: #323232;
  background-color: #f8f7f4;
}
.telephone-order {
  clear: both;
  float: right;
  width: 200px;
}
.telephone-order .call-time {
  display: block;
  text-align: right;
  font-size: 14px;
  line-height: 16px;
}
.telephone-order .telephone {
  display: block;
  text-align: right;
  font-size: 22px;
  line-height: 24px;
}

/********** Слайдер **********/
.promo-slider {
  margin-bottom: 35px;
  padding-top: 277px;
  text-align: center;
}
.promo-slide-title {
  width: 670px;
  margin: 0 auto;
  margin-bottom: 39px;
  font-size: 60px;
  line-height: 60px;
}
.promo-slide .button {
  display: inline-block;
  height: 64px;
  vertical-align: top;
}
.promo-slide {
  display: none;  
}
.promo-slide:nth-child(1) { /* удалить после стилизации слайдера */
  display: block;
}
body > input[type="radio"] {
  display: none;
}

/********** Баннеры **********/
.banner-container {
  min-height: 229px;
  margin-bottom: 40px;
}
.banner {
  width: 48.9%;
  min-height: 229px;
  border-radius: 12px;
}
.banner:first-child {
  float: left;
  background: #741e31 url(../img/raspberry_bg.png) no-repeat;
}
.banner:last-child {
  float: right; 
  background: #40271b url(../img/chocolate_bg.png) no-repeat;
}

/********** Каталог **********/
.catalog {
  font-size: 0;
}
.catalog-item {
  position: relative;
  display: inline-block;
  width: 23.35%;
  margin-bottom: 40px;
  margin-right: 2.2%;
  font-size: 16px;
  line-height: 22px;
  vertical-align: top;
}
.catalog-item:nth-child(4n) {
  margin-right: 0;
}
.catalog-item img {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  font-size: 0;
}
.catalog-item .cost {
  position: absolute;
  top: 0;
  font-size: 45px;
  line-height: 45px;
}

/********** Особенности магазина **********/
.shop-features {
  margin-bottom: 40px;
  padding-top: 22px;
  padding-left: 20px;
  padding-right: 20px;
  background: #ede1c7 url(../img/waffle_bg.jpg);
  border-radius: 12px;
  font-size: 0;
  color: #323232;
}
.shop-features-title {
  margin: 0;
  margin-bottom: 22px;
  font-size: 24px;
  line-height: 30px;
}
.shop-features-item {
  display: inline-block;
  width: calc(48.9% - 57px);
  margin: 0;
  margin-bottom: 23px;
  padding-left: 57px;
  font-size: 16px;
  line-height: 22px;
  vertical-align: top;
}
.shop-features-item:first-child {
  margin-right: 2.2%;
}

/********** Новости и подписка на них **********/
.last-news-subscription {
  min-height: 220px;
  margin-bottom: 40px;
}
.last-news {
  float: left;
  width: 48.9%;
  min-height: 220px;
  color: #323232;
  background: #ffffff url(../img/strawberry_bg.png.jpg);
  border-radius: 12px;
}
.subscription{
  float: right;
  width: 48.9%;
  min-height: 220px;
  color: #5a5a5a;
  background-color: #f8f7f4;
  border-radius: 12px;
}

/********** Карта **********/
.map-container{
  position: relative;
  height: 430px;
  color: #000000;
}
.gllacy-data {
  position: absolute;
  width: 302px;
  right: 2.2%;
  background-color: #ffffff;
}

/********** Футер **********/
.main-footer {
  padding-top: 36px;
  padding-bottom: 29px;
  font-size: 13px;
  line-height: 18px;
}
.social {
  float: left;
  width: 24.45%;
  margin-right: 2.2%;
}
.footer-nav {
  float: left;
  width: 46.7%;
  margin: 0;
  margin-right: 2.2%;
  padding: 0;
  padding-left: calc(24.406% - 164px);
  box-sizing: border-box;
}
.footer-nav-item {
  display: inline-block;
  margin-right: 27px;
  text-align: left;
  list-style: none;
}
.footer-nav-item:nth-child(odd) {
  width: 113px;
}
.footer-nav-item:nth-child(even) {
  width: 52%;
  margin-right: 0;
}
.copyright {
  float: right;
  width: 24.45%;
  font-size: 12px;
  line-height: 18px;
  text-align: right;
}